# This is alternative to implicit VDB building by the main example. This is equivalent except
# the model names are explicit not same as data source names.

CREATE FOREIGN DATA WRAPPER postgresql;
CREATE SERVER pgsql FOREIGN DATA WRAPPER postgresql
    OPTIONS (
        "jndi-name" 'accountsDS'
    );

CREATE SERVER pgsql2 FOREIGN DATA WRAPPER postgresql
    OPTIONS (
        "jndi-name" 'customerDS'
    );
    
CREATE SCHEMA test SERVER pgsql;
CREATE SCHEMA test2 SERVER pgsql2;

IMPORT FOREIGN SCHEMA public FROM SERVER pgsql INTO test
    OPTIONS(
        importer.useFullSchemaName false,
        importer.tableTypes 'TABLE,VIEW'
);

IMPORT FOREIGN SCHEMA public FROM SERVER pgsql2 INTO test2
    OPTIONS(
        importer.useFullSchemaName false,
        importer.tableTypes 'TABLE,VIEW'
);