    @RequestMapping(value = "{{uri}}", method = RequestMethod.{{method}}, produces = {"{{{contentType}}}"} {{#consumes}}, consumes = "{{{consumes}}}" {{/consumes}})
    @ResponseBody
    @ApiOperation(value="{{description}}", nickname="{{procedureName}}"{{#responseClass}}, response={{responseClass}}{{/responseClass}})
    public ResponseEntity<InputStreamResource> {{procedureName}}({{{paramSignature}}}) {
        setServer(this.server);
        setVdb(this.vdb);
        LinkedHashMap<String, Object> parameters = new LinkedHashMap<String, Object>();
        {{{paramMapping}}}
        return execute("{{procedureFullName}}", parameters, "{{charset}}", {{usingReturn}});
    }
